.text-input {
  &__container {
    margin: 0;
    position: relative;
    border: 1px solid black;
    width: 100%;
  }

  &__label {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }
  &__input {
    width: 100%;
  }
}