.text-input {
  &__container {
    margin: 0;
    position: relative;
    width: 100%;

    &:focus-within .text-input__label,
    .text-input__label--active {
      transform: translateX(-50%) translateY(-1.7rem);
      color: black;
      font-weight: bold;
    }
  }

  &__label {
    position: absolute;
    transform: translateX(-50%);
    top: 20%;
    left: 50%;
    transition: transform 0.3s ease;
    color: black;
  }

  &__input {
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
}
