.details-trust {
  display: flex;
  flex-direction: column;
  width: auto;

  &__toggle {
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 9rem;
    height: 2rem;
    overflow: hidden;
    transition: all .2s;

    @media screen and (min-width: $bp-tablet) {
      width: 1.6rem;
      height: 15rem;
      flex-direction: row;
    }

    &-text {
      font-size: 2rem;
      color: black;
      display: flex;
      flex-direction: row;
      text-align: center;
      @media screen and (min-width: $bp-tablet) {
        flex-direction: column;
      }
    }
  }

  &__toggle--expanded{
    width: 100%;
    height: auto;
    @media screen and (min-width: $bp-tablet) {
      width: 15rem;
      height: auto;
    }
    @media screen and (min-width: $bp-desktop) {
      width: 25rem;
    }
  }

  &__container {
    cursor: auto;

    width: 100%;
    max-width: 20rem;

    background: #f9f9f9;

    padding: 1rem;
    border-radius: 10px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__title {
    color: black;
    cursor: pointer;
  }
  &__content {
    color: black;
    text-align: start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  &__content ul {
    list-style-type: decimal;
    padding-left: 1rem; /* Для відступу маркерів */
    margin: 0; /* Якщо є відступи */
  }

  &__content-expanded {
    max-height: 16rem;
  }

  &__button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0.2rem;
    border: none;
    background: none;
  }
  &__button-arrow {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  &__button-arrow--active {
    transform: rotate(180deg);
  }
  }

